.buttonContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 60px;
  height: 60px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 26px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.acButton {
  background-color: rgb(5, 79, 5);
}

.delButton {
  background-color: rgb(129, 47, 3);
}

.equalButton{
  background-color: rgb(78, 3, 42);
}
